# Database
MONGODB_URI=mongodb+srv://joshisarthak556:Sart9426@cluster0.abjmdff.mongodb.net/InvoiceManagement

# JWT Secret (for authentication)
JWT_SECRET=bytesflare-invoice-manager-secret-key-2024




# Next.js
NEXTAUTH_URL=http://localhost:3000
NODE_ENV=development

# Company Information
COMPANY_NAME=Bytes Flare Infotech
COMPANY_GSTIN=29ABCDE1234F1Z5
COMPANY_ADDRESS=123 Tech Park, Bangalore, Karnataka 560001
COMPANY_PHONE=+91 9876543210
COMPANY_EMAIL=info@bytesflare.com
COMPANY_WEBSITE=https://bytesflare.com
